#logo > a > img {
    height: 60px;
    width: 60px;
}

#radisson-detail-image > img {
    height: 350px;
    width: 500px;
    margin: 2% 4% 0%;
}

#radisson-detail-form {
    margin: 0% 4% 1%;
    width: 25%;
}

#radisson-detail-description {
    margin: 1% 4% 2%;
}

#imageAndFormDiv {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin: 2%;
    height: 400px;
    width: 95%;
}

#radisson-detail-image {
    width: 75%;
    display: flex;
    justify-content: center;
}

#radisson-detail-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
}

#bookNow {
    padding: 8%;
}

.headings {
    font-family: cursive;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.label1 {
    float: left;
    clear: left;
    height: 50px;
    width: 100px;
}

.input1 {
    float: left;
    height: 50px;
}

#contact-modal-email {
    margin-top: 3%;
}

#formElement6 {
    margin-top: 2%;
    align-self: center;
}

#booking-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.label {
    display: inline;
    float: left;
}

.input {
    display: inline;
    float: right;
}

