#headerDiv {
    background-color: rosybrown;
}

#footerDiv {
    background-color: rosybrown;
}

#logo > a > img {
    height: 60px;
    width: 60px;
}

#radisson-detail-image > img {
    height: 500px;
    width: 500px;
    margin: 2% 4% 0%;
}

#radisson-detail-form {
    margin: 0% 4% 1%;
}

#radisson-detail-description {
    margin: 1% 4% 2%;
}