#logo > a > img {
    height: 60px;
    width: 60px;
}

.hotels > img {
    height: 200px;
    width: 250px;
}

.hotels > a > img {
    height: 200px;
    width: 250px;
}

.hotels {
    margin: 2%;
    background-color: rgb(132,136,139);
    width: 40%;
}

#map {
    display: none;
}

#hotelsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#radisson > a {
    text-decoration: none;
    color: black;
}

#contentDiv-list > a {
    color: black;
    text-decoration: none;
    margin-top: 2%;
}

#contentDiv-list {
    display: flex;
    flex-direction: row;
}

#list-view-button {
    margin-left: 39%;
    margin-right: 2%;
}