#logo > a > img {
    height: 60px;
    width: 60px;
}

.hotels-image > img {
    height: 200px;
    width: 250px;
}

.hotels {
    margin: 2%;
    background-color: lightgray;
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.hotels > a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

.hotels-brief {
    margin-left: 3%;
}

#blank {
    background-color: #e0e0e0;
}

#map {
    display: none;
}

#hotelsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#radisson > a {
    text-decoration: none;
    color: black;
}

#contentDiv-list > a {
    color: black;
    text-decoration: none;
    margin-top: 2%;
}

#contentDiv-list {
    display: flex;
    flex-direction: row;
}

#list-view-button {
    margin-left: 42%;
    margin-right: 4%;
}

#contentDiv {
    height: 700px;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.label {
    float: left;
    clear: left;
    height: 50px;
    width: 100px;
}

.input {
    float: left;
    height: 50px;
}

#contact-modal-email {
    margin-top: 3%;
}

.hotels:hover {
    background-color: rosybrown;
}

.nav-pills {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.radisson-detail-text {
    text-decoration: none;
    color: black;
}

#radisson > a {
    text-decoration: none;
    color: black;
}