#headerDiv {
    background-color: rosybrown;
}

#footerDiv {
    background-color: rosybrown;
}

#logo > a > img {
    height: 60px;
    width: 60px;
}

.hotels > img {
    height: 200px;
    width: 250px;
}

.hotels {
    margin: 2%;
    background-color: rgb(132,136,139);
    width: 40%;
}