#loader {
    width: 70px;
    height: 70px;
    border: 12px solid transparent;
    border-radius: 50%;
    border-top-color: #444444;
    border-bottom-color: #444444;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 20%;
    transition: 1s;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}