#headerDiv {
    background-color: rosybrown;
}

#footerDiv {
    background-color: rosybrown;
}

#logo > a > img {
    height: 60px;
    width: 60px;
}

#radisson-address > img {
    height: 500px;
    width: 500px;
}

#radisson-address {
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

#person-details {
    margin: 2%;
}

#tariff-details {
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2%;
}